<!-- Button trigger modal -->
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
    Create new game
  </button>
</div>

<ul data-gamesContainer class="list-group py-5 list-group-flush">
  {{#each games}}
  <li data-gameid="{{this.id}}"
    class="d-flex pointer {{#if this.full}} gameUnabled {{/if}} {{#if this.started}} gameUnabled {{/if}} justify-content-between list-group-item">
    <span>{{this.name}}</span><span data-playerscount>{{this.players.length}}/{{this.maxPlayers}}</span></li>
  {{/each}}
  <li class="list-group-item"></li>
</ul>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Game</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="newgame">
          <div class="form-group">
            <label for="gameName">Game name: </label>
            <input name="gamename" type="text" class="form-control" id="gameName" placeholder="Game name"
              aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="players">Player numbers:</label>
            <select name="players" class="form-control" id="players">
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>